[package]
name = "traffloat-client"
authors = ["SOFe <sofe2038@gmail.com>"]
version = "0.2.0"
edition = "2018"
repository = "https://github.com/traffloat/traffloat"
homepage = "https://github.com/traffloat/traffloat"
description = "Traffloat web client"
license = "AGPL-3.0"

[lib]
crate-type = ["cdylib"]
name = "client"

[dependencies]
anyhow = "1.0.41"
derive-new = "0.5.9"
enum-map = "1.1.0"
getrandom = {version = "0.2.3", features = ["js"]}
getset = "0.1.1"
js-sys = "0.3.49"
lazy_static = "1.4.0"
legion = {version = "0.4.0", default-features = false, features = ["codegen", "extended-tuple-impls"]}
log = "0.4.14"
nalgebra = "0.27.1"
once_cell = "1.8.0"
rand = "0.8.4"
rand_distr = "0.4.1"
rand_xoshiro = "0.6.0"
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
shrev = "1.1.1"
traffloat-codegen = {version = "0.2.0", path = "../codegen-types", features = ["web-sys"]}
traffloat-common = {version = "0.2.0", path = "../common"}
traffloat-safety = {version = "0.2.0", path = "../safety"}
typed-builder = "0.9.0"
wasm-bindgen = {version = "0.2.72"}
wasm-logger = "0.2.0"
yew = {version = "0.18.0", default-features = false, features = ["services", "web_sys"]}

[dependencies.web-sys]
version = "0.3.50"
features = [
	"CanvasGradient",
	"CanvasRenderingContext2d",
	"CssStyleDeclaration",
	"Document",
	"HtmlCanvasElement",
	"HtmlImageElement",
	"ImageBitmap",
	"Node",
	"Performance",
	"Text",
	"Touch",
	"TouchList",
	"WebGlBuffer",
	"WebGlProgram",
	"WebGlRenderingContext",
	"WebGlShader",
	"WebGlTexture",
	"WebGlUniformLocation",
]

[features]
default = ["render-debug"]
render-debug = ["traffloat-common/render-debug", "traffloat-codegen/render-debug"]
