[workspace]
members = [
	"safety",
	"codegen",
	"codegen-types",
	"types",
	"vanilla",
	"docgen",
	"common",
	"client",
]

[profile.dev]
opt-level = 3

[profile.dev.package]
traffloat-common = {opt-level = 0}
traffloat-client = {opt-level = 0}

[profile.release]
lto = true
opt-level = 3

# [profile.release.package.traffloat-client]
# opt-level = "s"
