[package]
name = "traffloat-common"
authors = ["SOFe <sofe2038@gmail.com>"]
version = "0.2.0"
edition = "2018"
repository = "https://github.com/SOF3/traffloat"
homepage = "https://github.com/SOF3/traffloat"
description = "Traffloat simulation library"
license = "AGPL-3.0"

[lib]
name = "traffloat"

[dependencies]
derive-new = "0.5.9"
enum-map = "0.6.4"
getset = "0.1.1"
legion = {version = "0.3.1", default-features = false, features = ["codegen"]}
log = "0.4.14"
nalgebra = "0.24.1"
ratio-def = "0.3.1"
shrev = "1.1.1"
smallvec = "1.6.1"
traffloat-codegen = {version = "0.2.0", path = "../codegen-types"}
typed-builder = "0.9.0"
yew = {version = "0.17.4", optional = true, default-features = false}
