name: Docs build
on:
  push:
    branches:
      - master
    tags:
      - "*"
jobs:
  build:
    name: "Documentation build"
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-06-28
          profile: default
          default: true
      - name: Cache cargo tools
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo
          key: just-tokei
      - run: test -f ~/.cargo/bin/just || cargo install just tokei
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Install toolchain dependencies
        run: just deps
      - name: Preprocess resources
        run: just pp
      - name: Build documentation
        run: just doc

      - name: Create index page
        run: |
          echo "# API documentation" > target/doc/index.md
          cargo metadata --format-version 1 | \
            jq '.packages |
              map(
                select(
                  .manifest_path |
                    contains("registry") |
                    not
                )
              ) |
              map(
                .targets[0].name |
                  split("-") |
                  join("_")
              ) |
              .[]
            ' -r | \
            while read crate; do
              echo "- [$crate](./$crate)"
            done \
            >> target/doc/index.md
          echo >> target/doc/index.md
          echo "## Code statistics" >> target/doc/index.md
          echo '```' >> target/doc/index.md
          tokei -e "*lock*" >> target/doc/index.md
          echo '```' >> target/doc/index.md
          echo >> target/doc/index.md
          echo "## Dependency graph" >> target/doc/index.md
          echo "![](./depgraph.png)" >> target/doc/index.md

      - name: Create crate dependency graph
        run: |
          (
            echo 'digraph G {'
            echo '  rankdir="LR";'
            cargo metadata --format-version 1 |
              jq '.packages |
                map(
                  select(
                    .manifest_path |
                      contains("registry") |
                      not
                  )
                ) |
                map({
                  name,
                  dependencies: ("{" + (
                    .dependencies |
                      map("\"" + .name + "\"") |
                      join(";")
                  ) + "}")
                }) |
                map("\"" + .name + "\" -> " + .dependencies) |
                join("\n")
              ' -r
            echo "}"
          ) | \
            dot -T png -o target/doc/depgraph.png

      - name: Set Git author
        run: git config --global user.name "github-actions[bot]" && git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Clone site repo
        uses: actions/checkout@v2
        with:
          repository: traffloat/api
          ssh-key: ${{secrets.API_KEY}}
          path: .site-repo
      - name: Delete previous build
        run: test ! -d $(echo ${{github.ref}} | cut -d/ -f3) || rm -r $(echo ${{github.ref}} | cut -d/ -f3)
        working-directory: .site-repo
      - name: Copy artifact to site repo
        run: cp -r target/doc .site-repo/$(echo ${{github.ref}} | cut -d/ -f3)
      - name: Git commit
        run: git add $(echo ${{github.ref}} | cut -d/ -f3) && git commit --allow-empty -m "Docs build for traffloat/traffloat@${{github.sha}}"
        working-directory: .site-repo
      - name: Push pages
        run: git push
        working-directory: .site-repo
