name: Docs build
on:
  push:
    branches:
      - master
    tags:
      - "*"
jobs:
  build:
    name: "Documentation build"
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-06-28
          profile: default
          default: true

      - run: npm install
        working-directory: client
      - run: npm run preprocess
        working-directory: client
      - name: Build documentation
        run: cargo doc --lib

      - name: Set Git author
        run: git config --global user.name "github-actions[bot]" && git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Clone site repo
        uses: actions/checkout@v2
        with:
          repository: traffloat/api
          ssh-key: ${{secrets.API_KEY}}
          path: .site-repo
      - name: Delete previous build
        run: test ! -d $(echo ${{github.ref}} | cut -d/ -f3) || rm -r $(echo ${{github.ref}} | cut -d/ -f3)
        working-directory: .site-repo
      - name: Copy artifact to site repo
        run: cp -r target/doc .site-repo/$(echo ${{github.ref}} | cut -d/ -f3)
      - name: Git commit
        run: git add $(echo ${{github.ref}} | cut -d/ -f3) && git commit --allow-empty -m "Docs build for traffloat/traffloat@${{github.sha}}"
        working-directory: .site-repo
      - name: Push pages
        run: git push
        working-directory: .site-repo
